---
---
@import 'variables';
@import 'bootstrap-without-glyphicons';

body {
  padding-top: 80px;
  section {
    padding: 50px 0;
  }
}

a {
  @include transition(300ms);
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
}

@import 'header';
@import 'footer';
