---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1>{{ page.title }}</h1>
  </header>

  <article class="post-content">
  {{ content }}

  <p>Træner(e): {{ page.coaches | array_to_sentence | markdownify }}</p>
  <h3>Stilling</h3>
  {% assign stillinger = site.data.generated.standings | where: 'league', page.team_id | sort: 'position' %}
  {% if stillinger == empty %}
  <p>Ingen stillinger fundet.</p>
  {% else %}
  <table class="table" id="standings">
    <thead>
        <tr>
            <th><span class="sort" data-sort="position">Position</span></th>
            <th><span class="sort" data-sort="team">Hold</span></th>
            <th><span class="sort" data-sort="matches">K</span></th>
            <th><span class="sort" data-sort="won">V</span></th>
            <th><span class="sort" data-sort="tied">U</span></th>
            <th><span class="sort" data-sort="lost">T</span></th>
            <th colspan="4">Score</th>
            <th><span class="sort" data-sort="points">P</span></th>
        </tr>
    </thead>
    <tbody class="list">
        {% for s in stillinger %}
        <tr>
            <td class="position">{{s.position}}</td>
            <td class="team">{{s.team}}</td>
            <td class="matches">{{s.matches}}</td>
            <td class="won">{{s.won}}</td>
            <td class="tied">{{s.tied}}</td>
            <td class="lost">{{s.lost}}</td>
            <td>{{ s.score_out | minus: s.score_in | positive_plus }}</td>
            <td>({{s.score_out}}</td>
            <td>-</td>
            <td>{{s.score_in}})</td>
            <td class="points">{{s.points}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <h3>Kampe</h3>
  {% assign kampe = site.data.generated.matches | where: 'league', page.team_id | sort: 'date' %}
  {% if kampe == empty %}
  <p>Ingen kampe fundet</p>
  {% else %}
  <table class="table" id="matches">
    <thead>
      <tr>
        <th>Dato</th>
        <th>Tid</th>
        <th></th>
        <th>Resultat</th>
      </tr>
    </thead>
    <tbody>
      {% for k in kampe %}
      {% capture resultat %}
      {% if k.home_score > 0 and k.away_score > 0 %}
      {{k.home_score}} - {{k.away_score}}
      {% else %}
      &mdash;
      {% endif %}
      {% endcapture %}
      <tr>
        <td>{{k.dtstart | to_datetime | localize: "%-d. %B, %Y" }}</td>
        <td>{{k.dtstart | to_datetime | localize: "%H:%M" }}</td>
        <td>{{k.home_team}} - {{k.away_team}}</td>
        <td>{{resultat}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  <em>Ovenstående information er hentet fra <a href="http://kampe.dhf.dk/dhf/Turneringer-og-resultater/Hold-Information.aspx?HoldId={{page.team_id}}">DHFs Håndboldinfo</a></em>
  </article>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
{% javascript team %}
